
.background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.alertContent {
    width: 320px;
    padding:24px;
    background: #fff;
    border-radius: 8px;
}
.contentWrap {
    color:#191919;
}